<div class="card card-user" *ngIf="specific">
    <div class="image">
        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
    </div>
    <div class="content">
        <div class="author">
            <a>
                <img class="avatar border-gray" src="{{ specific.imgurl | defaultimage:'https://image.flaticon.com/icons/png/128/149/149071.png'}}"/>

                <h4 class="title">{{ specific.name }}</h4><br />
                <h5><span>{{ specific.type | camelcase }}:-</span> +91-{{ specific.phone }}</h5>
                <h5 *ngIf="specific.email"><span>Email Id:-</span> {{ specific.email }}</h5>
                <h5 *ngIf="specific.website"><span>Website:-</span> <a href="http;\\{{ specific.website }}" target="blank">{{ specific.website }}</a></h5>
                <h5 *ngIf="specific.address"><span>Address:-</span> {{ specific.address }}, {{ specific.city }}</h5>
            </a>
        </div>
        <p class="description text-center">
        </p>
    </div>
</div>