/* MODAL STYLES
-------------------------------*/
modal {
    /* modals are hidden by default */
  
    display: none;
  }
  .modal-open .modal {
    display: block;
  }
  modal  .modal {
    /* modal container fixed across whole screen */
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index must be higher than .modal-background */
  
    z-index: 1000;
    /* enables scrolling for tall modals */
  
    overflow: auto;
  }
  modal  .modal  .modal-body {
    padding: 20px;
    background: #fff;
    /* margin exposes part of the modal background */
    border-radius: 5px;
    margin: 40px;
    height: 40%;
  }
  modal .modal-background {
    /* modal background fixed across whole screen */
  
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* semi-transparent black  */
  
    background-color: #000;
    opacity: 0.75;
    /* z-index must be below .modal and above everything else  */
  
    z-index: 900;
  }
  body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
  
    overflow: hidden;
  }
  modal .alert {
    padding: 10px;
    text-align: center;
  }
  modal .modal button {
    position: relative;
    right: 0;
  }
  modal .alert, .modal a, modal .alert h4 {
    color: #000;
    margin-bottom: 0;
  }
  modal .alert h4 .fa-exclamation-triangle {
    margin-right: 20px;
    color: #FB404B;
  }
  modal .alert h4 .fa-check {
    margin-right: 20px;
    color: rgba(73, 236, 95, 0.64);
  }
  .modal .btn-footer {
    position: fixed;
    right: 9%;
  }
  @media (max-width: 991px) {
    modal .modal {
      width: 100%;
    }
    modal  .modal  .modal-body {
      height: 60%;
    }
    modal  .simple  .modal-body {
      height: 40%;
    }
    .modal .btn-footer {
      position: fixed;
      right: 15%;
    }
}