<modal id="addedContact">
    <div class="modal simple">
        <div class="modal-body">
            <div class="alert">
                <h4><i class="fa fa-check" aria-hidden="true"></i>Contact added successfully</h4>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="content">
                        <form #formAddContact="ngForm" (ngSubmit)="addDetails(formAddContact)">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Organization</label>
                                        <input type="text" class="form-control" placeholder="organization" name="organization" [(ngModel)]="contactDetails.organization" value="{{ contactDetails.organization }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="number" class="form-control" placeholder="Phone" name="phone" [(ngModel)]="contactDetails.phone" value="{{ contactDetails.phone }}" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="select" class="control-label">Type</label>
                                          <select class="form-control" id="select" [(ngModel)]="contactDetails.type" name="type">
                                            <option>MOBILE</option>
                                            <option>WORK</option>
                                            <option>HOME</option>
                                            <option>OTHER</option>
                                          </select>
                                      </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="contactDetails.name" value="{{ contactDetails.name }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Website</label>
                                        <input type="text" class="form-control" placeholder="Website" name="website" [(ngModel)]="contactDetails.website" value="{{ contactDetails.website }}">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="contactDetails.email" value="{{ contactDetails.email }}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control" placeholder="Home Address" name="address" [(ngModel)]="contactDetails.address" value="{{ contactDetails.address }}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control" placeholder="City" name="city" [(ngModel)]="contactDetails.city" value="{{ contactDetails.city }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>State</label>
                                        <input type="text" class="form-control" placeholder="state" name="state" [(ngModel)]="contactDetails.state" value="{{ contactDetails.state }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="number" class="form-control" placeholder="ZIP Code" name="zip" [(ngModel)]="contactDetails.zip" value="{{ contactDetails.zip }}">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Add Contact</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
