<modal id="confirmDelete">
    <div class="modal">
        <div class="modal-body">
            <div class="close dismiss">
                <a (click)="close('confirmDelete')"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
            <div class="alert">
                <h4><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Are you sure you want to delete this contact?</h4>
            </div>
            <div class="btn-footer">
                <button (click)="close('confirmDelete')" class="btn btn-defalut">No</button>
                <button (click)="deleteContact()" class="btn btn-danger">Yes</button>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>

<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Contacts</h4>
                    </div>
                    <div class="content">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let contact of contacts | async">
                                <div class="col-xs-12 col-sm-4">
                                    <img src="{{ contact.imgurl }}" alt="{{ contact.name }}" class="img-responsive img-circle" />
                                </div>
                                <div class="col-xs-12 col-sm-8 details">
                                    <div class="col">
                                        <span class="name">{{ contact.name }}</span><br/>
                                        <span class="name">{{ contact.phone }}</span>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 buttons">
                                        <a (click)="viewDetails(contact)" class="btn btn-primary btn-xs">Details</a>
                                        <a [routerLink]="['../updatecontact' , contact.phone]" class="btn btn-primary btn-xs">Edit</a>
                                        <a (click)="open('confirmDelete', contact)" class="btn btn-danger btn-xs danger">Delete</a>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <app-specificdetail [specific]="spec"></app-specificdetail>
            </div>
        </div>
    </div>
</div>
