.header .fa {
    margin-left: 10px;
    cursor: pointer;
}
.header .fa:hover {
    color: #0000FF;
}
.list-group-item {
    width: 49%;
    display: inline-block;
    margin-left: 5px;
}
.buttons {
    padding: 0;
}
.buttons a {
    display: inline;
}
.details div {
    margin-bottom: 5px;
}
.buttons .btn {
    transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
    background-color: #447DF7;
    color: white;
}
.btn-danger:hover {
    background-color: #FB404B;
    border: 2px solid #FB404B;
    color: #FFF;
}
@media (max-width: 991px) {
    .list-group-item {
        width: 100%;
        text-align: center;
    }
    .img-responsive {
        margin: auto;
    }
}